<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unica.a18elode.pharmabuy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Registrazione" />
        <activity
            android:name=".Menu"
            android:label="Menu" />
        <activity
            android:name=".Medicinali"
            android:label="Medicinali" />
        <activity
            android:name=".FarmacieTurno"
            android:label="Farmacie di Turno" />
        <activity
            android:name=".MedicinaleScelto"
            android:label="Medicinale Scelto" />
        <activity
            android:name=".Acquisto"
            android:label="Acquisto" />
        <activity
            android:name=".Ordine"
            android:label="Ordine" />
        <activity
            android:name=".Riepilogo"
            android:label="Riepilogo" />
        <activity
            android:name=".RiepilogoOrdine"
            android:label="Riepilogo Ordine" />
        <activity
            android:name=".AcquistiRecenti"
            android:label="Acquisti Recenti"/>
        <activity
            android:name=".StatoOrdini"
            android:label="Stato Ordini"></activity>
    </application>

</manifest>